<h1>Livros Cadastrados</h1>
<div>
  {{#each books}}
    <span>#{{this.id}} - Título: {{this.title}} | Páginas: {{this.pageqty}} - </span>
    <a href="/books/{{this.id}}">Ver mais</a>
    <form action="/books/remove/{{this.id}}" method="POST">
      <input type="submit" value="Excluir">
    </form>
    <br><hr>
  {{/each}}
</div>